name: Deploy to Aliyun ECS

on:
  push:
    branches: [ FYP1 ]  # 当这括号里面的分支有push时触发

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. 拉取代码(commit更新用)
      - name: Checkout code
        uses: actions/checkout@v3

      # 2. 设置 JDK 17
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      # 3. Maven 打包 (跳过测试以加快速度)
      - name: Build with Maven
        run: mvn clean package -DskipTests

      # 4. 把打好的 Jar 包传到阿里云
      - name: Upload Jar to Server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          source: "target/backend-0.0.1-SNAPSHOT.jar"
          target: "/root"
          strip_components: 1  # 去掉 target 这一层目录，直接把 jar 放在 /root 下

      # 5. 远程执行服务器上的部署脚本
      - name: Execute Deploy Script
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          script: sh /root/deploy.sh